button{
    flex: 1;
    color: white;
    outline: 0;
    border: 0;
    cursor: pointer;
}

.plain {
    
    background-color: rgb(168, 155, 77);
    width: 100px;
    height: 40px
    
}

.inverted {
    background-color: gray;
}

.disabled {
    background-color: rgba(231, 219, 219, 0.397);
    color: black;
    cursor: default;
    width: 100px;
    height: 40px
}

.plain:hover{
    background-color: rgb(104, 96, 51);
    border: 2px solid black;
    color: black;

}

.google {
    background-color:#1864ab;
}

.google:hover {
    background-color: #228be6;
}

.payment {
    background-color: #7dc855;
}

